{% extends 'r2n2/base.html' %}


{% block content %}
<section class="content">

 <div class="row">
        <div class="col-lg-3 col-xs-6">
        <!-- small box -->
           <a href="/gdls"> <div class="small-box bg-blue"> 
            <div class="inner">
              <span class="info-box-number">Municipalities</span>
              <p>Update Profile  </p> 
			  
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div> 
		</a>
		<!-- ./col -->

        <div class="col-lg-3 col-xs-6">
        <!-- small box -->
           <a href="#"> <div class="small-box bg-green"> 
            <div class="inner">
              <span class="info-box-number">Municipalities</span>
              <p>Update Profile  </p> 
			  
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div> 
		</a>
		<!-- ./col -->
		
		<div class="col-lg-3 col-xs-6">
        <!-- small box -->
           <a href="#"> <div class="small-box bg-red"> 
            <div class="inner">
              <span class="info-box-number">Municipalities</span>
              <p>Update Profile  </p> 
			  
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div> 
		</a>
		<!-- ./col -->
</div>
<!-- ./row -->

<!-- row -->
<div class="row">
 
</div>
<!-- ./row -->

</section>

{% endblock %}
